.SinglePage {
    height: 90vh;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    flex-wrap: wrap;

    img {
        height: 50vh;
        border-radius: 20px
    }

    .inside-wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 20px
    }

    .box {
        color: black;
        margin-left: 10px;
        padding: 20px;
        border-radius: 20px;
        margin: 10px;
        max-width: 200px;
        overflow-y: auto;
        width: 200px;
        background: #ffffff;
        box-shadow: -15px 15px 30px #c9c9c9bd,
            15px -15px 30px #ffffff;
        z-index: 999;
    }

    .boxPrepTime {
        color: black;
        margin-left: 10px;
        padding: 20px;
        border-radius: 20px;
        margin: 10px;
        max-width: 200px;
        width: 200px;
        background: #ffffff;
        box-shadow: -15px 15px 30px #c9c9c9bd,
            15px -15px 30px #ffffff;
        z-index: 999;
    }

    .title {
        border-bottom: 1px solid #fe2747;
        margin-bottom: 10px;
        color: #fe2747;
        font-weight: 700;
    }

    .ingredients {
        overflow-y: scroll;
        height: 200px;
    }

    .boxGuide {
        color: black;
        margin-left: 10px;
        padding: 20px;
        border-radius: 20px;
        margin: 10px;
        width: 30vw;
        overflow-y: auto;
        height: 300px;
        -webkit-box-shadow: 0px 14px 49px -14px rgba(0, 0, 0, 0.65);
        -moz-box-shadow: 0px 14px 49px -14px rgba(0, 0, 0, 0.65);
        box-shadow: 0px 14px 49px -14px rgba(0, 0, 0, 0.65);

    }

    .recipeName {
        margin-bottom: 20px;
    }

    .btnBox {
        position: absolute;
        bottom: 10%;
        right: 9%;
        padding: 10px;

        .btn {
            padding: 8px 15px;
            border-radius: 20px;
            transition: 300ms;
            cursor: pointer;
            border: 2px solid #fe2749;
            color: #fe2747;
            margin: 10px;
            background-color: white;

            &:hover {
                transform: scale(0.9);

            }
        }

        .btnRemove {
            padding: 8px 15px;
            border-radius: 20px;
            transition: 300ms;
            cursor: pointer;
            border: 2px solid transparent;
            color: white;
            margin: 10px;
            background-color: #fe2749;

            &:hover {
                transform: scale(0.9);

            }
        }
    }

}